


.container_technics {
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 4.125rem;
    margin: 0 auto;
    gap: 60px;
  
    .card_technics {
      margin-top: -90px;
      position: relative;
      cursor: pointer;
  
      .cover_technics {
        transition: 0.4s;
        font-family: 'Alumni Sans';
        font-weight: 500;
        font-size: 22px;
        color: #000000;
  
        img {
          max-width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
  
      .products__gallery__item_price_technics {
        text-align: left;
        margin-top: 10px;
        color: #c29869;
        font-family: 'Alumni Sans';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.8rem;
  
        span {
          font-size: 20px;
          color: #000000;
          font-weight: 400;
          font-family: 'Alumni Sans';
        }
      }
  
      .products__gallery__item_title_technics {
        text-align: left;
        margin-top: 10px;
        font-family: 'Alumni Sans';
        font-weight: 400;
        font-size: 2rem;
        color: #000000;
      }
  
      .content_technics {
        padding-left: 5px;
        font-family: 'Alumni Sans';
        font-weight: 500;
        font-size: 22px;
        color: #000000;
  
        img {
          max-width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
  
      .characteristics_technics {
        font-weight: 500;
      }
  
      .mass_technics {
        font-weight: 500;
  
        span {
          font-weight: 400;
        }
      }
  
      .volime_technics span,
      .depth_technics span {
        font-weight: 400;
      }
    }
    .advantages__item.advantages-item{
      width: 350px;
    }
    
  }

  .technics{
    &__toptitle{
      font-family: Alumni Sans;
font-size: 80px;
font-weight: 500;
line-height: 96px;
letter-spacing: 0.06em;
text-align: center ;
margin: 80px 30px;
    }
    &__title{
        min-width: 800px;
    }
  }

  @media (max-width:842px) {
    .advantages-item__title {
      padding-top: 1.875rem;
      font-family: "Alumni Sans";
      font-weight: 500;
      font-size: 29px;
      letter-spacing: 6%;
      color: #000000;
      margin-bottom: 1.5rem;
    }
    .advantages-item__list-li {
      margin-bottom: 23px;
      max-width: 200px;
    }
  }

  @media (max-width:646px) {
    .advantages-item:not(:last-child) {
      margin-right: 11px !important;
    }
    .advantages_items {
     margin: 0 auto;
      justify-content: center !important;
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
      text-align: center;
    }
  }