.HomeProjects {
    @apply flex justify-center items-center flex-col;
    .HomeProjectsTitle {
      @apply uppercase;
      font-family: "Alumni Sans", sans-serif;
      font-size: 80px;
      font-weight: 500;
      letter-spacing: 4px;
    }
    .HomeProjectSlider {
      width: 100vw;
      height: 1200px;
      .HomeProjectSlide {
        width: 100vw;
        height: 1200px;
        position: absolute;
        background-size: cover;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2b2b2b;
          background-size: cover;
          opacity: 0.8;
          z-index: 1;
        }
      }
      .HomeProjectSlideData {
        @apply flex flex-col justify-end;
        position: relative;
        z-index: 100;
        color: white;
        padding-left: 20vw;
        padding-bottom: 200px;
        height: calc(100vh - 90px);
        z-index: 1500;
        .HomeProjectSmallTitle {
          @apply uppercase;
          font-family: "Alumni Sans", sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #c5a47e;
          letter-spacing: 4px;
        }
        .HomeProjectTitle {
          @apply uppercase;
          font-family: "Alumni Sans", sans-serif;
          font-size: 70px;
          font-weight: 400;
          padding: 0;
        }
        .HomeProjectDescription {
          width: 600px;
        }
  
        .HomeProjectButton {
          width: 200px;
          height: 60px;
          border: 2px solid white;
          margin-top: 30px;
          transition: 0.3s all;
          border-radius: 2px;
  
          &:hover {
            scale: 1.05;
          }
          &:active {
            transform: translateY(10px);
          }
        }
      }
    }
    .HomeProjectsNavigation {
      @apply flex flex-col gap-3;
      position: absolute;
      right: 60px;
      padding-top: 200px;
      z-index: 1500;
      .HomeProjectNavButton {
        @apply flex justify-center items-center;
        color: white;
        height: 60px;
        width: 60px;
        border: 1px solid white;
        transition: 0.3s all;
  
        &:hover {
          scale: 1.05;
        }
        &:active {
          transform: translateY(5px);
        }
      }
    }
  }
  
  .ArrowRight {
    fill: white;
  }
  .ArrowLeft {
    fill: white;
  }
  