

   @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
   @import url(https://fonts.googleapis.com/css?family=Alumni+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
   
   .about-us-decor{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    &__item {
        cursor: pointer;
        border: 1px solid rgb(153, 149, 149);
      }
      img {
        width: 100%;
        height: auto;
        opacity: 0;
        transition: all 0.5s ease;
      } 
      &__item:hover {
        img {
          opacity: 1;
        }
      }
      &_all_text {
        position: absolute;
        color: white;
        width: 25%;
        height: auto;
      }
      &_number {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px var(--yellow);
        padding-top: 5px;
        padding-left: 10px;
        font-size: 86px;
        font-weight: 800;
      }
      &_text {
        padding-left: 10px;
        padding-top: 13%;
        font-size: 13px;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
      }
      &_subtitle {
        padding-left: 10px;
        padding-top: 9%;
        font-family: "Alumni Sans";
        font-size: 35px;
        font-weight: 500;
        letter-spacing: -0.01em;
        color: rgb(255, 255, 255);
      }
      &__item:hover {
        &_subtitle {
          color: rgb(255, 255, 255);
        }
      }
   }
  
   :root {
    --yellow: rgb(202, 174, 51);
    --black: rgb(0, 0, 0);
  }
 
   