@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Alumni Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 0.45rem;
  background-color: #7b7b7b;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d8d8d8;
}

