.Header {
  @apply flex justify-between items-center;
  color: white;
  height: 90px;
  border-bottom: 1px solid white;
  width: 100vw;
  padding-left: 20vw;
  padding-right: 5vw;
  .HeaderLogo {
    @apply flex items-center;
    gap: 5px;
    .HeaderTitle {
      font-size: 54px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }
  .HeaderRoutes {
    @apply flex items-center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    gap: 25px;
  }
  .HeaderLanguage {
    @apply flex justify-between items-center gap-2;
    font-family: "Alumni Sans", sans-serif;
    font-size: 32px;
  }
}


// .dropdown > a{
//   position: relative;
//   padding-bottom: 100px;

//   padding-left: 36px;

// }
// .dropdown{
//   position: relative;
//   display: inline-block;
// }

// .dropdown {

//   position: relative;
//   display: inline-block;

//   &-content {
//     text-align: center;
//     display:block;
//     position: absolute;
//     background-color: transparent !important;
//     min-width: 138px;
//     border: 1px #fff solid;
//     color: #fff !important;
    
//     a {
  
//       background-color: none;
//       color: rgb(255, 255, 255) !important;
//       padding: 12 px16 px;
//       text-decoration: none;
//       display: block;
// padding-bottom: 5px;

//       &:hover {
//         background-color:transparent !important;
//       }
//     }
   
//   }

//   &:hover .dropdown-content {
//     display: block;
//   }
// }
// .dropdown-content:hover{
//   display: block;
 
// }










/* 
.dropdown {
  position: relative !important;
  display: block !important;

  &-content {
    display: none !important;
    position: absolute !important ;
    top: 7% !important;
    left: 85% !important;
    width: 4% !important;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 1 !important;

    a {
      display: block;
      padding: 10px;
      color: black;
      text-decoration: none;
і
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  &:hover .dropdown-content {
    display: block !important;
  }
} */
.dropdown-content{
  display: none !important;
}

.dropdown:hover .dropdown-content{
display: block !important;

}


.dropdown-content-container{
  height: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  padding: 5px 20px 5px 20px;
  
}