.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 143px;
  width: 100vw;
  padding-left: 20vw;
  padding-right: 5vw;
  position: relative;
  top: -21px;
  .HeaderLogo {
    @apply flex items-center;
    gap: 5px;
    .HeaderTitle {
      font-size: 54px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }
  .HeaderRoutes {
    @apply flex items-center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    gap: 25px;
  }
  .HeaderLanguage {
    @apply flex justify-between items-center gap-2;
    font-family: "Alumni Sans", sans-serif;
    font-size: 32px;
  }
  &::after{
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #D9D9D9;
    top: 126px;
    z-index: 444;
    left: 0;
  }
  .dropdown{
     &-content{
      display: none !important;
    }
    &:hover .dropdown-content{
      display: block !important;
      
    }
    &-content-container{
      height: 89px;
      position: absolute;
      display: flex;
      flex-direction: column;
      border: 1px solid #ffffff;
      padding: 5px 20px 5px 20px;
      z-index: 777;
    }
    &-content-container a{
      padding: 5px;
    }
    
  }
}

 

 


