.MainAbout {
    @apply flex justify-center items-center;
    gap: 50px;
    min-height: 900px;
    .MainAboutContainer {
      max-width: 1200px;
      .MainImage {
        @apply flex justify-center items-center;
        width: 420px;
        height: 420px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .MainImageBlock {
          @apply flex justify-center items-center flex-col;
          width: 360px;
          height: 360px;
          background-color: rgba(255, 255, 255, 0.8);
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 20;
  
          .MainImageNumber {
            font-family: "Alumni Sans", sans-serif;
            font-weight: 600;
            font-size: 180px;
            height: 230px;
            color: transparent;
            background-clip: text;
            background-size: 420px;
            background-position: center;
            -webkit-text-stroke: 2px #c5a47e;
          }
          .MainImageText {
            @apply uppercase;
            color: #c5a47e;
            font-weight: 500;
          }
        }
      }
      .AboutUs {
        @apply uppercase;
        color: #c5a47e;
        font-family: "Alumni Sans", sans-serif;
        font-weight: 500;
        letter-spacing: 6px;
        font-size: 20px;
        padding-top: 20px;
      }
      .AboutCompany {
        @apply uppercase;
        font-family: "Alumni Sans", sans-serif;
        font-size: 80px;
        font-weight: 500;
        letter-spacing: 4px;
      }
      .AboutCompanyDescription {
        width: 600px;
        color: #999999;
        font-size: 16px;
      }
      .MainAboutButton {
        width: 130px;
        height: 50px;
        border: 2px solid black;
        margin-top: 20px;
        transition: 0.3s all;
        border-radius: 2px;
  
        &:hover {
          scale: 1.05;
        }
        &:active {
          transform: translateY(10px);
        }
      }
    }
  }
  


  @media (max-width:441px) {
    .MainAbout .MainAboutContainer .MainImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 354px;
      height: 343px;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .MainAbout .MainAboutContainer .MainImage .MainImageBlock {
      flex-direction: column;
      width: 290px;
      height: 283px;
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
    }
    .MainAbout .MainAboutContainer .MainImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 358px;
      height: 358px;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .MainAbout .MainAboutContainer .MainImage .MainImageBlock {
      flex-direction: column;
      width: 296px;
      height: 308px;
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
    }
    .MainAbout .MainAboutContainer .AboutCompany {
      text-transform: uppercase;
      font-family: "Alumni Sans", sans-serif;
      font-size: 47px !important;
      font-weight: 500;
      letter-spacing: -1px !important;
    }
    .MainAbout .MainAboutContainer .AboutCompanyDescription {
      width: 365px !important;
      color: #999999;
      font-size: 14px !important;
    }
  }
  @media (max-width:429px) {
    .MainAbout .MainAboutContainer .MainImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 362px;
      height: 360px;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .MainAbout .MainAboutContainer .MainImage .MainImageBlock {
      flex-direction: column;
      width: 305px;
      height: 306px;
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
    }
  
  }
  @media (max-width:378px) {
  
    .MainAbout .MainAboutContainer .MainImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 323px;
      height: 306px;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .MainAbout .MainAboutContainer .MainImage .MainImageBlock {
      flex-direction: column;
      width: 272px;
      height: 258px;
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
    }
    .MainAbout .MainAboutContainer .AboutCompanyDescription {
      width: 320px !important;
      color: #999999;
      font-size: 12px !important;
    }
  }